// import fonts

// import Monserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

// import Lato (prox-nova)
@import url('https://fonts.googleapis.com/css2?family=Lato');


// import Proxima-Nova (non va)
/*@font-face {
  font-family: ProximaNova-Extrabld;
  src: url("../../fonts/Proxima-Nova-Xbold.otf") format("opentype");
}*/



// font sizes

// size of texts
.title-big{
  font-size: 12vw;
  text-align: center;
}
.title{
  font-size: 6vw;
  text-align: center;
}
.paragraph-big{
  font-size: 5vw;
  text-align: center;
}
.paragraph{
  font-size: 5vw;
  text-align: center;
}

@media (min-width:$ms){
  .title-big{
    font-size: 4vw;
    text-align: justify;
  }
  .title{
    font-size: 2.6vw;
    text-align: justify;
  }
  .paragraph-big{
    font-size: 2vw;
    text-align: justify;
  }
  .paragraph{
    font-size: 1.5vw;
    text-align: justify;
  }
}
