// general css
* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 3vw;
}


.orange{
    color: $primary-orange;
}

.undraggable{
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



// btn layout
.btn{
    background-color: $primary-orange;
    color: white;
    padding: 10px 50px;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
}

.btn:hover{
    background-color: $hover-orange;
}
