// general css
* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 3vw;
}


.orange{
    color: $primary-orange;
}

.undraggable{
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



// btn layout
.btn{
    background-color: $primary-orange;
    color: white;
    padding: 1.4vw 3.5vw;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
}

.btn:hover{
    background-color: $hover-orange;
}


// lists layouts

.yellowdots_ul{
    position: relative;
}

.yellowdots_ul li{
    position: relative;
    left: -1.5em;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.yellowdots_ul-img{
    width:2vw;
    height:2vw;
}
.yellowdots_ul-text{
    padding-left: 10px;
}
