.row:after {
    content: "";
    display: table;
    clear: both;
}

.s1{
    float: left;
        display: inline;
    width: 100%;
}
.s2{
    float: left;
        display: inline;
    width: 50%;
}

@media (min-width:$ms){

    .m1{
        float: left;
        display: inline;
        width: 100%;
    }
    .m2{
        float: left;
        display: inline;
        width: 50%;
    }
    .m3{
        float: left;
        display: inline;
        width: 33.33%;
    }
    .m4{
        float: left;
        display: inline;
        width: 25%;
    }
}




@media (max-width: 767px){
    .row {

       
        &__6{
            float: left;
            width: 100%;
        }
        &__7{
            float: left;
            width: 100%;
        }
        &__8{
            float: left;
            width: 100%;
        }
        &__9{
            float: left;
            width: 100%;
        }
        &__10{
            float: left;
            width: 100%;
        }
        &__11{
            float: left;
            width: 100%;
        }
        &__12{
            float: left;
            width: 100%;
        }
    }
}


//flexbox

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.flex-item{
    flex: 0 0 110%;
}
