
html, body{
    margin: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
}


.btn{
    background-color: $primary-orange;
    color: white;
    padding: 10px 50px;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 23*$font-general-size;
    font-weight: 400;
    cursor: pointer;

    &--margin-top{
        margin-top: 80*$font-general-size;
    }
}

.btn:hover{
    background-color: $hover-orange;
}


.orange{
    color: $primary-orange;
}

.undraggable{
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}