
.section9{
    color:white;
    height:100%;
    position: relative;

    &__image{
        width:100%;
        min-height: 100%;
        max-height: 100%;
        overflow: hidden;
        z-index: -1;
    }

    &__content{
        width:98%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &-margins{
            margin: 0 18%;
        }

        &__form{
            &-check{
                position:relative;
            }
        }

        &__form input{
            width:100%;
            margin: 5px 0;
            border: $primary-orange 2px solid;

        }

        &__form input[type=text]{
            padding: 12px 20px;
            border-radius: 2px;
        }
        &__form input[type=submit]{
            margin-top: 20px;
        }
        &__form input[type=checkbox]{
            width: 2rem;
            height: 2rem;
            border-radius: 2px;
            background-color: white;

            float: left;
            -moz-appearance:none;
            -webkit-appearance:none;
            -o-appearance:none;
        }
        &__form input[type=checkbox]:checked{
            -webkit-appearance:checkbox;
            -moz-appearance:checkbox;
            -o-appearance:checkbox;
        }
        &__form label{
            text-align: left;
            float:right;
            width: 90%;
        }
    }
}


@media (min-width:$ms){
    .section9{
        &__content{
            width:50%;
            &__form input[type=checkbox]{
                width: 0.5rem;
                height: 0.5rem;
            }
        }
    }
}