.section6{
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */


    &__left{
        padding-left: 7%;
        padding-right: 7%;
    }

    &__right{
        display: none;
    }
}

.section6::after{
    content: "";
    display: table;
    clear: both;
}

@media (min-width:$ms){
    .section6{    
        margin-bottom: 2rem;

        &__left{
            padding-left: 10%;
            padding-right: 1%;
            display: table-cell;
        }

        &__right{
            display: table-cell;
            position: relative;
            width: 50%;
            padding-left: 2%;
            &-img{
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                width:70%;
            }
        }
    }
}