
.section5{
    &__left{
        display: none;
        position: relative;
        float: left;
        width: 33.33%;

        &-img{
            width:100%;
        }
    }
    &__overlap-img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        width:30vw;
    }
    &__right{
        float: left;
        width:100%;
        display: grid;
        place-items: center;
        height: 59vw;
        margin-bottom: 15rem;
        &-content{
            text-align: center;
        }
    }
}
.section5::after{
    content: "";
    display: table;
    clear: both;
}

@media (min-width:$ms){
    .section5{
        &__left{
            display: inline;
        }
        &__right{
            width: 66.67%;
            margin-bottom: 0;

            &-content{
                text-align: left;
                padding-left: 25%;
                padding-right: 10%;
            }
        }
    }
}