
.section3{
    min-height: 30%;
    background-color: $bg-grey;

    &__img{
        width: 100%;
        float: right;
    }
    &__img-container{
        max-width: 30vw;
    }
    &__content{
        padding-left: 40px;
        color:white;
        max-width: 40vw;
    }
}
