

.section2{
    position: relative;
    min-height: 50%;

    &-center-vert{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }

    &__image{
        display: none;
    }
    
    &__content{
        padding: 0 10px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

}

// bigger screens

@media (min-width:$ms){


    .section2{
        min-height: 100%;
        position: relative;
    
        &__image{
            display: inline;
            float: left;
            width: 50%;
            
            &-img{
                width:100%;
            }
        }
        
        &__content{
            padding: 0;
            float: left;
            text-align: justify;
            width: 50%;
            padding-left: 1em;
            padding-right: 15%;
        }
    
    }
}

