

.section2{
    min-height: 100%;
    position: relative;

    &__img{
        width:100%;
    }
    
    &__content{
        max-width: 100%;
        padding-left: 3em;
        padding-right: 15%;
    }

    &--center-vertically{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

