
.section3{
    min-height: 60%;
    background-color: $bg-grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    &__image{
        max-width: 70%;


        &-img{
            float: center;
            width: 100%;
        }
    }
    
    &__content{
        padding: 0 10px 0 10px;
        color:white;
    }

    &-item{
        flex: 0 0 50%;
    }
}



@media (min-width:$ms){
    
    .section3{
        min-height: 50%;

        &__image{
            padding-right: 4vw;
            width: 40%;

            &-img{
                float: right;
                width: 100%;
            }
        }
        
        &__content{
            max-width: 50%;
            padding: 0 50px 0 5px;
        }
    }
}
