
.section7{
    color:white;
    background-color: $bg-grey;
    &__content{
        padding-top: 40px;
        width:90%;
        margin: 0 auto;
    }
    &__image{
        width:100%;
    }
}

@media (min-width:$ms){
    .section7{
        &__image{
            width:90%;
        }
    }
}