$primary-orange: #FEB728;
$hover-orange: #eeab1c;
$bg-grey: #2D3039;


$font-general-size: 0.05vw;
@media screen and (max-width : 320px)
{
    $font-general-size: 0.035em;
}
@media screen and (max-width : 1204px)
{
    $font-general-size: 0.04em;
}




// import fonts
@import './modules/_fonts.scss';




// import vendor stuffs
@import 'normalize.css';


// import custom css
@import './modules/general.scss';
@import './modules/hero.scss';
